html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
     align-items: center;

}

:root{
    --navbar-hieght:59px;
}
#navbar ul{
    display: flex;
}
#navbar{
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}
#navbar ul li{
      list-style: none;
      font-size: 1.3rem;
}
#navbar ul li a{
    color:white ;
    display: block;
    padding: 3px 22px;;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 450px; 
}
#home::before{
    content: "";
    background: url('../img/bg.jpg') no-repeat center; 
    position: absolute;
    height: 578px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
/* services section  */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 40px;
    border-radius: 28px;
    background-color: rgb(255, 250, 250);
}
#services .box img{
          height: 160px;
          margin: auto;
          display: block;
}
/* clients section  */
#client-section{
   position: relative;
    height: 383px;
}
.client-item{
    padding: 34px;
}

#client-section::before{
    content: '';
    position: absolute;
    background: url('../img/bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
/* contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}


#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility classes */
.h-primary {
    font-size: 3.8rem;
    padding: 44px;
}
.h-secondry{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    
}
.center{
    text-align: center;
}
